<h2>Salom, {{username}}!</h2>

<p>Parolingizni tiklash uchun quyidagi tugmani bosing:</p>

<p>
  <a
    href="{{resetPasswordUrl}}"
    target="_blank"
    style="padding: 10px 20px; background-color: #007bff; color: white; text-decoration: none;"
  >
    Parolni tiklash
  </a>
</p>

<p>Agar siz bu so‘rovni yubormagan bo‘lsangiz, iltimos, bu xatni e’tiborsiz qoldiring.</p>

<p>Rahmat, Football Academy jamoasi.</p>
